# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 9218539e9f319c76e481b498f1f6c69a13bb801f56f8e27c4f67a9868e634aaea107be329e230bfae0ab070a479d5aface51b2d1902c706066dfd31afd156a12

test:
  secret_key_base: 307a461ff740cd07c1e507a4c7cd1a697c93ebc0e80494d9b2dd708b01707c68e1570c6ab6ffafad86364eab520ad0eda0f3aca784dceba976824a6943161e8d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
