<div class="row"></div>
<div class="row">
  <%= render "admin/admin/leftmenu" %>
  <div class="col s12 m12 l9 home">
    <table class="highlight">
      <thead>
      <tr>
        <th><%= t "shared.product.index.category_name" %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @categories %>
      </tbody>
    </table>
      <%= link_to t(".new"), new_admin_category_path, :class => "waves-effect waves-light btn" %>
  </div>
</div>
