<div class="card">
  <div class="title-sign-up-page center">
    <%= t "shared.product.edit.title" %>
  </div>
  <div class="card-content">
    <%= render "form"%>
    <div>
      <%= link_to (t "admin.products.edit.back"), admin_products_path, :class => "waves-effect waves-light btn" %>
    </div>
  </div>
</div>
