<div class="card">
  <div class="title-sign-up-page center">
    <%= t "shared.product.edit.title" %>
  </div>
  <div class="card-content">
    <%= render "form"%>
    <%= link_to (t ".back"), products_path %>
  </div>
</div>
